*.pyc
logs/
*.pt
!tita_example_10000.pt
*.mp4
*.json
*.engine
*.onnx
.vscode/
configs/__pycache__/
runner/__pycache__/
modules/__pycache__/
utils/__pycache__/
envs/__pycache__/
algorithm/__pycache__/
__pycache__/
**/__pycache__/
runs/
wandb/
videos/
*.pth
